/* SCSS Vars
 *
 * 1. Colors, $a(outline), $b(body), $c(eyes)
 * 2. Modify $size for different bat sizes.
 * 3. Modify $speed for different speeds.
 */
$a: #54556b;
/* 1 */
$b: #202020;
/* 1 */
$c: #fff;
/* 1 */
$size: 4;
/* 2 */
$speed: .4s;
/* 3 */

/* Scaffolding */
html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bat */
.bat {
    width: 1px;
    height: 1px;
    transform: scale($size);
    position: relative;
    left: -32px * $size;
    top: -32px * $size;
    animation: $speed bat steps(1) infinite;
}

/* Bat animation */
@keyframes bat {
    0% {
        box-shadow:
            33px 6px $a,
            34px 6px $a,
            35px 6px $a,
            36px 6px $a,
            20px 7px $a,
            21px 7px $a,
            22px 7px $a,
            23px 7px $a,
            33px 7px $a,
            34px 7px $a,
            35px 7px $b,
            36px 7px $b,
            37px 7px $a,
            38px 7px $a,
            39px 7px $a,
            43px 7px $a,
            20px 8px $a,
            21px 8px $a,
            22px 8px $a,
            23px 8px $a,
            33px 8px $a,
            34px 8px $a,
            35px 8px $b,
            36px 8px $b,
            37px 8px $a,
            38px 8px $a,
            39px 8px $a,
            43px 8px $a,
            17px 9px $a,
            18px 9px $a,
            19px 9px $a,
            20px 9px $a,
            35px 9px $a,
            36px 9px $b,
            37px 9px $b,
            38px 9px $b,
            39px 9px $b,
            40px 9px $a,
            41px 9px $a,
            42px 9px $a,
            43px 9px $b,
            44px 9px $a,
            45px 9px $a,
            16px 10px $a,
            17px 10px $b,
            18px 10px $b,
            19px 10px $b,
            20px 10px $a,
            36px 10px $a,
            37px 10px $b,
            38px 10px $b,
            39px 10px $b,
            40px 10px $b,
            41px 10px $b,
            42px 10px $b,
            43px 10px $b,
            44px 10px $a,
            45px 10px $a,
            16px 11px $a,
            17px 11px $b,
            18px 11px $b,
            19px 11px $b,
            20px 11px $a,
            36px 11px $a,
            37px 11px $b,
            38px 11px $b,
            39px 11px $b,
            40px 11px $b,
            41px 11px $b,
            42px 11px $b,
            43px 11px $b,
            44px 11px $a,
            45px 11px $a,
            13px 12px $a,
            14px 12px $a,
            15px 12px $a,
            16px 12px $b,
            17px 12px $b,
            18px 12px $a,
            19px 12px $a,
            20px 12px $a,
            36px 12px $a,
            37px 12px $a,
            38px 12px $a,
            39px 12px $b,
            40px 12px $b,
            41px 12px $b,
            42px 12px $b,
            43px 12px $b,
            44px 12px $a,
            45px 12px $a,
            12px 13px $a,
            13px 13px $b,
            14px 13px $b,
            15px 13px $b,
            16px 13px $b,
            17px 13px $b,
            18px 13px $a,
            19px 13px $a,
            37px 13px $a,
            38px 13px $a,
            39px 13px $b,
            40px 13px $b,
            41px 13px $b,
            42px 13px $b,
            43px 13px $b,
            44px 13px $b,
            45px 13px $b,
            46px 13px $a,
            10px 14px $a,
            11px 14px $a,
            12px 14px $b,
            13px 14px $b,
            14px 14px $b,
            15px 14px $b,
            16px 14px $b,
            17px 14px $a,
            36px 14px $a,
            37px 14px $a,
            38px 14px $a,
            39px 14px $b,
            40px 14px $b,
            41px 14px $b,
            42px 14px $b,
            43px 14px $b,
            44px 14px $b,
            45px 14px $b,
            46px 14px $b,
            47px 14px $a,
            10px 15px $a,
            11px 15px $a,
            12px 15px $b,
            13px 15px $b,
            14px 15px $b,
            15px 15px $b,
            16px 15px $b,
            17px 15px $a,
            36px 15px $a,
            37px 15px $a,
            38px 15px $a,
            39px 15px $b,
            40px 15px $b,
            41px 15px $b,
            42px 15px $b,
            43px 15px $b,
            44px 15px $b,
            45px 15px $b,
            46px 15px $b,
            47px 15px $a,
            10px 16px $a,
            11px 16px $a,
            12px 16px $b,
            13px 16px $b,
            14px 16px $b,
            15px 16px $b,
            16px 16px $b,
            17px 16px $a,
            35px 16px $a,
            36px 16px $a,
            37px 16px $b,
            38px 16px $b,
            39px 16px $b,
            40px 16px $b,
            41px 16px $b,
            42px 16px $b,
            43px 16px $b,
            44px 16px $b,
            45px 16px $b,
            46px 16px $b,
            47px 16px $a,
            9px 17px $a,
            10px 17px $b,
            11px 17px $b,
            12px 17px $b,
            13px 17px $b,
            14px 17px $b,
            15px 17px $b,
            16px 17px $b,
            17px 17px $a,
            37px 17px $a,
            38px 17px $a,
            39px 17px $b,
            40px 17px $b,
            41px 17px $b,
            42px 17px $b,
            43px 17px $b,
            44px 17px $b,
            45px 17px $b,
            46px 17px $b,
            47px 17px $b,
            48px 17px $a,
            49px 17px $a,
            51px 17px $a,
            7px 18px $a,
            8px 18px $a,
            9px 18px $a,
            10px 18px $b,
            11px 18px $b,
            12px 18px $b,
            13px 18px $b,
            14px 18px $b,
            15px 18px $b,
            16px 18px $b,
            17px 18px $a,
            20px 18px $a,
            37px 18px $a,
            38px 18px $a,
            39px 18px $b,
            40px 18px $b,
            41px 18px $b,
            42px 18px $b,
            43px 18px $b,
            44px 18px $b,
            45px 18px $b,
            46px 18px $b,
            47px 18px $b,
            48px 18px $a,
            49px 18px $a,
            51px 18px $b,
            7px 19px $a,
            8px 19px $a,
            9px 19px $a,
            10px 19px $b,
            11px 19px $b,
            12px 19px $b,
            13px 19px $b,
            14px 19px $b,
            15px 19px $b,
            16px 19px $b,
            17px 19px $a,
            20px 19px $a,
            37px 19px $a,
            38px 19px $a,
            39px 19px $b,
            40px 19px $b,
            41px 19px $b,
            42px 19px $b,
            43px 19px $b,
            44px 19px $b,
            45px 19px $b,
            46px 19px $b,
            47px 19px $b,
            48px 19px $a,
            49px 19px $a,
            51px 19px $b,
            7px 20px $a,
            8px 20px $a,
            9px 20px $b,
            10px 20px $b,
            11px 20px $b,
            12px 20px $b,
            13px 20px $b,
            14px 20px $b,
            15px 20px $b,
            16px 20px $b,
            17px 20px $b,
            18px 20px $a,
            19px 20px $a,
            20px 20px $b,
            21px 20px $a,
            36px 20px $a,
            37px 20px $b,
            38px 20px $b,
            39px 20px $b,
            40px 20px $b,
            41px 20px $b,
            42px 20px $b,
            43px 20px $b,
            44px 20px $b,
            45px 20px $b,
            46px 20px $b,
            47px 20px $b,
            48px 20px $a,
            49px 20px $a,
            54px 20px $a,
            55px 20px $a,
            9px 21px $a,
            10px 21px $b,
            11px 21px $b,
            12px 21px $b,
            13px 21px $b,
            14px 21px $b,
            15px 21px $b,
            16px 21px $b,
            17px 21px $b,
            18px 21px $b,
            19px 21px $b,
            20px 21px $b,
            21px 21px $a,
            35px 21px $a,
            36px 21px $a,
            37px 21px $b,
            38px 21px $b,
            39px 21px $b,
            40px 21px $b,
            41px 21px $b,
            42px 21px $b,
            43px 21px $b,
            44px 21px $b,
            45px 21px $b,
            46px 21px $b,
            47px 21px $b,
            48px 21px $a,
            49px 21px $a,
            52px 21px $a,
            53px 21px $a,
            54px 21px $b,
            55px 21px $b,
            56px 21px $a,
            57px 21px $a,
            9px 22px $a,
            10px 22px $b,
            11px 22px $b,
            12px 22px $b,
            13px 22px $b,
            14px 22px $b,
            15px 22px $b,
            16px 22px $b,
            17px 22px $b,
            18px 22px $b,
            19px 22px $b,
            20px 22px $a,
            32px 22px $a,
            33px 22px $a,
            34px 22px $a,
            35px 22px $b,
            36px 22px $b,
            37px 22px $b,
            38px 22px $b,
            39px 22px $b,
            40px 22px $b,
            41px 22px $b,
            42px 22px $b,
            43px 22px $b,
            44px 22px $b,
            45px 22px $b,
            46px 22px $b,
            47px 22px $a,
            48px 22px $a,
            49px 22px $a,
            50px 22px $a,
            52px 22px $a,
            53px 22px $a,
            54px 22px $b,
            55px 22px $b,
            56px 22px $a,
            57px 22px $a,
            9px 23px $a,
            10px 23px $b,
            11px 23px $b,
            12px 23px $b,
            13px 23px $b,
            14px 23px $b,
            15px 23px $b,
            16px 23px $b,
            17px 23px $b,
            18px 23px $b,
            19px 23px $b,
            20px 23px $a,
            32px 23px $a,
            33px 23px $a,
            34px 23px $a,
            35px 23px $b,
            36px 23px $b,
            37px 23px $b,
            38px 23px $b,
            39px 23px $b,
            40px 23px $b,
            41px 23px $b,
            42px 23px $b,
            43px 23px $b,
            44px 23px $b,
            45px 23px $b,
            46px 23px $b,
            47px 23px $a,
            48px 23px $a,
            49px 23px $a,
            50px 23px $a,
            52px 23px $a,
            53px 23px $a,
            54px 23px $b,
            55px 23px $b,
            56px 23px $a,
            57px 23px $a,
            9px 24px $a,
            10px 24px $b,
            11px 24px $b,
            12px 24px $b,
            13px 24px $b,
            14px 24px $b,
            15px 24px $b,
            16px 24px $b,
            17px 24px $b,
            18px 24px $a,
            19px 24px $a,
            32px 24px $a,
            33px 24px $b,
            34px 24px $b,
            35px 24px $b,
            36px 24px $b,
            37px 24px $b,
            38px 24px $b,
            39px 24px $b,
            40px 24px $b,
            41px 24px $b,
            42px 24px $b,
            43px 24px $b,
            44px 24px $b,
            45px 24px $b,
            46px 24px $b,
            47px 24px $a,
            48px 24px $b,
            49px 24px $b,
            50px 24px $a,
            54px 24px $a,
            55px 24px $a,
            7px 25px $a,
            8px 25px $a,
            9px 25px $b,
            10px 25px $b,
            11px 25px $b,
            12px 25px $b,
            13px 25px $b,
            14px 25px $b,
            15px 25px $b,
            16px 25px $b,
            17px 25px $b,
            18px 25px $a,
            19px 25px $a,
            21px 25px $a,
            28px 25px $a,
            33px 25px $a,
            34px 25px $a,
            35px 25px $b,
            36px 25px $b,
            37px 25px $b,
            38px 25px $b,
            39px 25px $b,
            40px 25px $b,
            41px 25px $b,
            42px 25px $b,
            43px 25px $b,
            44px 25px $b,
            45px 25px $b,
            46px 25px $b,
            47px 25px $b,
            48px 25px $b,
            49px 25px $b,
            50px 25px $a,
            54px 25px $b,
            7px 26px $a,
            8px 26px $a,
            9px 26px $b,
            10px 26px $b,
            11px 26px $b,
            12px 26px $b,
            13px 26px $b,
            14px 26px $b,
            15px 26px $b,
            16px 26px $b,
            17px 26px $b,
            18px 26px $a,
            19px 26px $a,
            21px 26px $a,
            28px 26px $a,
            33px 26px $a,
            34px 26px $a,
            35px 26px $b,
            36px 26px $b,
            37px 26px $b,
            38px 26px $b,
            39px 26px $b,
            40px 26px $b,
            41px 26px $b,
            42px 26px $b,
            43px 26px $b,
            44px 26px $b,
            45px 26px $b,
            46px 26px $b,
            47px 26px $b,
            48px 26px $b,
            49px 26px $b,
            50px 26px $a,
            54px 26px $b,
            3px 27px $a,
            4px 27px $a,
            5px 27px $a,
            9px 27px $a,
            10px 27px $b,
            11px 27px $b,
            12px 27px $b,
            13px 27px $b,
            14px 27px $b,
            15px 27px $b,
            16px 27px $b,
            17px 27px $a,
            20px 27px $a,
            21px 27px $b,
            22px 27px $a,
            23px 27px $a,
            27px 27px $a,
            28px 27px $b,
            35px 27px $a,
            36px 27px $b,
            37px 27px $b,
            38px 27px $b,
            39px 27px $b,
            40px 27px $b,
            41px 27px $b,
            42px 27px $b,
            43px 27px $b,
            44px 27px $b,
            45px 27px $b,
            46px 27px $b,
            47px 27px $b,
            48px 27px $a,
            49px 27px $a,
            1px 28px $a,
            2px 28px $a,
            3px 28px $b,
            4px 28px $b,
            5px 28px $b,
            6px 28px $a,
            9px 28px $a,
            10px 28px $a,
            11px 28px $a,
            12px 28px $b,
            13px 28px $b,
            14px 28px $b,
            15px 28px $b,
            16px 28px $b,
            17px 28px $a,
            20px 28px $a,
            21px 28px $b,
            22px 28px $a,
            23px 28px $a,
            25px 28px $a,
            26px 28px $a,
            27px 28px $b,
            28px 28px $b,
            29px 28px $a,
            30px 28px $a,
            33px 28px $a,
            34px 28px $a,
            35px 28px $a,
            36px 28px $b,
            37px 28px $b,
            38px 28px $b,
            39px 28px $b,
            40px 28px $b,
            41px 28px $b,
            42px 28px $b,
            43px 28px $b,
            44px 28px $b,
            45px 28px $b,
            46px 28px $b,
            47px 28px $b,
            48px 28px $a,
            49px 28px $a,
            1px 29px $a,
            2px 29px $a,
            3px 29px $b,
            4px 29px $b,
            5px 29px $b,
            6px 29px $a,
            10px 29px $a,
            11px 29px $a,
            12px 29px $b,
            13px 29px $b,
            14px 29px $b,
            15px 29px $b,
            16px 29px $b,
            17px 29px $a,
            18px 29px $a,
            19px 29px $a,
            20px 29px $b,
            21px 29px $b,
            22px 29px $b,
            23px 29px $b,
            24px 29px $a,
            25px 29px $a,
            26px 29px $a,
            27px 29px $b,
            28px 29px $b,
            29px 29px $b,
            30px 29px $b,
            31px 29px $a,
            32px 29px $a,
            33px 29px $a,
            34px 29px $a,
            35px 29px $b,
            36px 29px $b,
            37px 29px $b,
            38px 29px $b,
            39px 29px $b,
            40px 29px $b,
            41px 29px $b,
            42px 29px $b,
            43px 29px $b,
            44px 29px $b,
            45px 29px $b,
            46px 29px $b,
            47px 29px $a,
            52px 29px $a,
            53px 29px $a,
            54px 29px $a,
            1px 30px $a,
            2px 30px $a,
            3px 30px $b,
            4px 30px $b,
            5px 30px $b,
            6px 30px $a,
            10px 30px $a,
            11px 30px $a,
            12px 30px $b,
            13px 30px $b,
            14px 30px $b,
            15px 30px $b,
            16px 30px $b,
            17px 30px $a,
            18px 30px $a,
            19px 30px $a,
            20px 30px $b,
            21px 30px $b,
            22px 30px $b,
            23px 30px $b,
            24px 30px $a,
            25px 30px $a,
            26px 30px $a,
            27px 30px $b,
            28px 30px $b,
            29px 30px $b,
            30px 30px $b,
            31px 30px $a,
            32px 30px $a,
            33px 30px $a,
            34px 30px $a,
            35px 30px $b,
            36px 30px $b,
            37px 30px $b,
            38px 30px $b,
            39px 30px $b,
            40px 30px $b,
            41px 30px $b,
            42px 30px $b,
            43px 30px $b,
            44px 30px $b,
            45px 30px $b,
            46px 30px $b,
            47px 30px $a,
            52px 30px $a,
            53px 30px $a,
            54px 30px $a,
            3px 31px $a,
            4px 31px $a,
            5px 31px $a,
            7px 31px $b,
            8px 31px $b,
            9px 31px $b,
            10px 31px $a,
            11px 31px $a,
            12px 31px $b,
            13px 31px $b,
            14px 31px $b,
            15px 31px $b,
            16px 31px $b,
            17px 31px $a,
            18px 31px $b,
            19px 31px $b,
            20px 31px $b,
            21px 31px $b,
            22px 31px $b,
            23px 31px $b,
            24px 31px $a,
            25px 31px $b,
            26px 31px $b,
            27px 31px $b,
            28px 31px $b,
            29px 31px $b,
            30px 31px $b,
            31px 31px $b,
            32px 31px $a,
            33px 31px $a,
            34px 31px $a,
            35px 31px $b,
            36px 31px $b,
            37px 31px $b,
            38px 31px $b,
            39px 31px $b,
            40px 31px $b,
            41px 31px $b,
            42px 31px $b,
            43px 31px $b,
            44px 31px $b,
            45px 31px $b,
            46px 31px $b,
            47px 31px $a,
            52px 31px $b,
            53px 31px $b,
            54px 31px $b,
            7px 32px $b,
            8px 32px $b,
            9px 32px $a,
            12px 32px $a,
            13px 32px $b,
            14px 32px $b,
            15px 32px $b,
            16px 32px $b,
            17px 32px $b,
            18px 32px $b,
            19px 32px $b,
            20px 32px $b,
            21px 32px $b,
            22px 32px $b,
            23px 32px $b,
            24px 32px $b,
            25px 32px $b,
            26px 32px $b,
            27px 32px $b,
            28px 32px $b,
            29px 32px $b,
            30px 32px $b,
            31px 32px $b,
            32px 32px $b,
            33px 32px $b,
            34px 32px $b,
            35px 32px $b,
            36px 32px $b,
            37px 32px $b,
            38px 32px $b,
            39px 32px $b,
            40px 32px $b,
            41px 32px $b,
            42px 32px $b,
            43px 32px $b,
            44px 32px $b,
            45px 32px $b,
            46px 32px $a,
            51px 32px $a,
            52px 32px $b,
            53px 32px $b,
            54px 32px $a,
            13px 33px $a,
            14px 33px $b,
            15px 33px $b,
            16px 33px $b,
            17px 33px $b,
            18px 33px $b,
            19px 33px $b,
            20px 33px $b,
            21px 33px $b,
            22px 33px $b,
            23px 33px $b,
            24px 33px $b,
            25px 33px $b,
            26px 33px $b,
            27px 33px $b,
            28px 33px $b,
            29px 33px $b,
            30px 33px $b,
            31px 33px $b,
            32px 33px $b,
            33px 33px $b,
            34px 33px $b,
            35px 33px $b,
            36px 33px $b,
            37px 33px $b,
            38px 33px $b,
            39px 33px $b,
            40px 33px $b,
            41px 33px $b,
            42px 33px $b,
            43px 33px $a,
            44px 33px $a,
            45px 33px $a,
            13px 34px $a,
            14px 34px $b,
            15px 34px $b,
            16px 34px $b,
            17px 34px $b,
            18px 34px $b,
            19px 34px $b,
            20px 34px $b,
            21px 34px $b,
            22px 34px $b,
            23px 34px $b,
            24px 34px $b,
            25px 34px $b,
            26px 34px $b,
            27px 34px $b,
            28px 34px $b,
            29px 34px $b,
            30px 34px $b,
            31px 34px $b,
            32px 34px $b,
            33px 34px $b,
            34px 34px $b,
            35px 34px $b,
            36px 34px $b,
            37px 34px $b,
            38px 34px $b,
            39px 34px $b,
            40px 34px $b,
            41px 34px $b,
            42px 34px $b,
            43px 34px $a,
            44px 34px $a,
            45px 34px $a,
            13px 35px $a,
            14px 35px $a,
            15px 35px $a,
            16px 35px $a,
            17px 35px $b,
            18px 35px $b,
            19px 35px $b,
            20px 35px $b,
            21px 35px $b,
            22px 35px $b,
            23px 35px $b,
            24px 35px $b,
            25px 35px $b,
            26px 35px $b,
            27px 35px $b,
            28px 35px $b,
            29px 35px $b,
            30px 35px $b,
            31px 35px $b,
            32px 35px $b,
            33px 35px $b,
            34px 35px $b,
            35px 35px $b,
            36px 35px $b,
            37px 35px $b,
            38px 35px $b,
            39px 35px $a,
            40px 35px $a,
            41px 35px $a,
            42px 35px $a,
            7px 36px $a,
            8px 36px $a,
            9px 36px $a,
            12px 36px $b,
            14px 36px $a,
            15px 36px $a,
            16px 36px $a,
            17px 36px $b,
            18px 36px $b,
            19px 36px $b,
            20px 36px $b,
            21px 36px $b,
            22px 36px $b,
            23px 36px $b,
            24px 36px $b,
            25px 36px $b,
            26px 36px $b,
            27px 36px $b,
            28px 36px $b,
            29px 36px $b,
            30px 36px $b,
            31px 36px $b,
            32px 36px $b,
            33px 36px $b,
            34px 36px $b,
            35px 36px $b,
            36px 36px $b,
            37px 36px $a,
            38px 36px $a,
            39px 36px $a,
            6px 37px $a,
            7px 37px $b,
            8px 37px $b,
            9px 37px $b,
            10px 37px $b,
            11px 37px $b,
            16px 37px $a,
            17px 37px $b,
            18px 37px $b,
            19px 37px $b,
            20px 37px $c,
            21px 37px $b,
            22px 37px $b,
            23px 37px $b,
            24px 37px $b,
            25px 37px $c,
            26px 37px $c,
            27px 37px $c,
            28px 37px $b,
            29px 37px $b,
            30px 37px $b,
            31px 37px $b,
            32px 37px $b,
            33px 37px $b,
            34px 37px $b,
            35px 37px $b,
            36px 37px $a,
            37px 37px $b,
            38px 37px $b,
            39px 37px $a,
            40px 37px $a,
            41px 37px $a,
            42px 37px $a,
            43px 37px $a,
            44px 37px $b,
            45px 37px $b,
            46px 37px $a,
            6px 38px $a,
            7px 38px $b,
            8px 38px $b,
            9px 38px $b,
            10px 38px $b,
            11px 38px $b,
            16px 38px $a,
            17px 38px $b,
            18px 38px $b,
            19px 38px $b,
            20px 38px $c,
            21px 38px $b,
            22px 38px $b,
            23px 38px $b,
            24px 38px $b,
            25px 38px $c,
            26px 38px $c,
            27px 38px $c,
            28px 38px $b,
            29px 38px $b,
            30px 38px $b,
            31px 38px $b,
            32px 38px $b,
            33px 38px $b,
            34px 38px $b,
            35px 38px $b,
            36px 38px $a,
            37px 38px $b,
            38px 38px $b,
            39px 38px $a,
            40px 38px $a,
            41px 38px $a,
            42px 38px $a,
            43px 38px $a,
            44px 38px $b,
            45px 38px $b,
            46px 38px $a,
            7px 39px $b,
            8px 39px $b,
            9px 39px $b,
            10px 39px $a,
            11px 39px $a,
            13px 39px $b,
            17px 39px $a,
            18px 39px $b,
            19px 39px $b,
            20px 39px $c,
            21px 39px $b,
            22px 39px $b,
            23px 39px $b,
            24px 39px $b,
            25px 39px $c,
            26px 39px $c,
            27px 39px $c,
            28px 39px $b,
            29px 39px $b,
            30px 39px $b,
            31px 39px $b,
            32px 39px $b,
            33px 39px $b,
            34px 39px $b,
            35px 39px $b,
            36px 39px $b,
            37px 39px $b,
            38px 39px $b,
            39px 39px $b,
            40px 39px $b,
            41px 39px $b,
            42px 39px $b,
            43px 39px $b,
            44px 39px $a,
            45px 39px $a,
            17px 40px $a,
            18px 40px $b,
            19px 40px $b,
            20px 40px $b,
            21px 40px $b,
            22px 40px $b,
            23px 40px $b,
            24px 40px $b,
            25px 40px $b,
            26px 40px $b,
            27px 40px $b,
            28px 40px $b,
            29px 40px $b,
            30px 40px $b,
            31px 40px $b,
            32px 40px $b,
            33px 40px $b,
            34px 40px $b,
            35px 40px $b,
            36px 40px $b,
            37px 40px $b,
            38px 40px $b,
            39px 40px $b,
            40px 40px $b,
            41px 40px $a,
            42px 40px $a,
            43px 40px $a,
            18px 41px $a,
            19px 41px $a,
            20px 41px $b,
            21px 41px $b,
            22px 41px $b,
            23px 41px $b,
            24px 41px $b,
            25px 41px $b,
            26px 41px $b,
            27px 41px $b,
            28px 41px $b,
            29px 41px $b,
            30px 41px $b,
            31px 41px $b,
            32px 41px $b,
            33px 41px $b,
            34px 41px $b,
            35px 41px $b,
            36px 41px $a,
            37px 41px $a,
            38px 41px $a,
            39px 41px $a,
            40px 41px $a,
            18px 42px $a,
            19px 42px $a,
            20px 42px $b,
            21px 42px $b,
            22px 42px $b,
            23px 42px $b,
            24px 42px $b,
            25px 42px $b,
            26px 42px $b,
            27px 42px $b,
            28px 42px $b,
            29px 42px $b,
            30px 42px $b,
            31px 42px $b,
            32px 42px $b,
            33px 42px $b,
            34px 42px $b,
            35px 42px $b,
            36px 42px $a,
            37px 42px $a,
            38px 42px $a,
            39px 42px $a,
            40px 42px $a,
            20px 43px $a,
            21px 43px $a,
            22px 43px $b,
            23px 43px $b,
            24px 43px $b,
            25px 43px $b,
            26px 43px $b,
            27px 43px $b,
            28px 43px $b,
            29px 43px $b,
            30px 43px $b,
            31px 43px $b,
            32px 43px $a,
            33px 43px $a,
            34px 43px $a,
            35px 43px $a,
            36px 43px $a,
            22px 44px $a,
            23px 44px $a,
            24px 44px $a,
            25px 44px $a,
            26px 44px $a,
            27px 44px $a,
            28px 44px $a,
            29px 44px $a,
            30px 44px $a,
            31px 44px $a,
            32px 44px $a,
            22px 45px $a,
            23px 45px $a,
            24px 45px $a,
            25px 45px $a,
            26px 45px $a,
            27px 45px $a,
            28px 45px $a,
            29px 45px $a,
            30px 45px $a,
            31px 45px $a,
            32px 45px $a,
            52px 46px $b,
            53px 46px $b,
            51px 47px $b,
            52px 47px $b,
            53px 47px $b,
            21px 50px $b,
            21px 51px $b;
    }
}